/* common style */
body{
    font-family: 'Open Sans', sans-serif;
}
.primaru-color{
    color: #FD6E0A;
}
.primaru-btn{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FD6E0A;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
}
.primaru-btn2{
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    background-color: #ffffff;
    padding: 15px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}
.section-titel{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
}
.section-description{
    text-align: center;
}
.hide{
    display: none;
}

/* navbar style start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    
}

nav li a {
    text-decoration: none;
    margin-right: 50px;
    color: #181818;
}
.nav-titel{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
/* navbar style end */

/* header style start */

.header{
    background-color: #FFF8F3;
}

/* header style end */

/* banner style start  */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.banner-contant{
    max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 0;
}
.banner-titel{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
}
/* banner style end  */

/* main section start  */

main{
    max-width: 1140px;
    margin: auto;
}
main section{
    margin-top: 130px;
}

/* main section end */


/* about section start  */

.about-section{
    background-color: #FFF8F3;
    margin: 130px 0;
    padding: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}
/* about section end  */

/* what is do section start  */

#what-i-do-description{
    padding: 30px 120px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-container{
    display: flex;
    gap: 15px;
}
.skill-description{
    color: #757575;
}

/* what is do section end  */

/* resume section start */

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-titel{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.resume-item-description{
    color:#757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}

/* From section start  */

.from-section-container{
    display: flex;
}

.column-titel{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.column-description{
    color:#474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 100px;
}
.from-section-icon{
    margin-right: 25px;
}
.from-input{
    padding: 18px 30px;
    border: none;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.from-input{
    margin-bottom: 25px;
}
#from-textarea{
    font-family:'Open Sans', sans-serif;
}
/* From section end */

/* footer section start  */
footer{
    background-color: #adadad;
    padding: 15px;
    text-align: center;
    margin-top: 130px;
}
/* footer section start  */


/* media query */
@media screen and (max-width:576px) {
    .skill-container, .resume-container, .about-info-container{
        display: grid;
        flex-direction: column;
        padding: 30px 20px;
    }
    #what-i-do-description{
        padding: 30px 20px;
    }
    .from-section-container{
        flex-direction: column;
        
    }
    .about-section{
        padding: 30px;
    }
}
@media screen and (min-width:576px) and (max-width: 992px) {

}